@import 'vars';

.admin-dash {
  @at-root #{&}__content {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    align-content: center;
    align-items: center;
  }

  @at-root #{&}--form {
    max-width: 500px;
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  @at-root #{&}__pagination {
    display: flex;
    align-items: center;
  }

  @at-root #{&}--pagination-icon {
    width: 32px;
    height: 32px;
    margin: 10px 20px;
  }

  @at-root #{&}--action-icon {
    width: 32px;
    height: 32px;
    margin: 10px 20px 10px 0;
  }

  @at-root #{&}--label {
    @include text-2xl;
    margin-bottom: 10px;
  }

  @at-root #{&}--input {
    @include text-xl;
    background-color: $bg-2;
    border-radius: 20px;
    padding: 10px 20px;
    color: $font-color-1;
    margin-bottom: 20px;
  }

  @at-root #{&}--button {
    padding: 11px 20px;
    border-radius: 10px;
    background-color: $font-color-2;
    color: #0A0019;
    margin-bottom: 20px;
    align-self: center;
  }

  @at-root #{&}--error {
    color: red;
  }
}

.users-panel {
  margin-top: 50px;
  margin-bottom: 50px;

  @at-root #{&}--title {
    @include text-3xl;
    margin-bottom: 20px;
  }

  @at-root #{&}--username {
    word-break: break-all;
  }

  @at-root #{&}__menu--button {
    padding: 10px 20px;
    border-radius: 10px;
    background-color: $font-color-2;
    color: #0A0019;
    margin-bottom: 20px;
    display: inline-block;
  }

  @at-root #{&}__content {
    max-width: 2000px;
    overflow-x: auto;
    display: flex;
    flex-direction: column;
  }

  @at-root #{&}__headers {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  @at-root #{&}__header {
    width: 300px;
    flex-shrink: 0;
  }

  @at-root #{&}--user {
    display: flex;
    gap: 20px;
    margin-bottom: 20px;
  }

  @at-root #{&}__field {
    display: flex;
    align-items: center;
    gap: 10px;
    width: 300px;
    flex-shrink: 0;
  }

  @at-root #{&}--profile-image {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
  }
}
