@import 'vars';

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  align-items: center;

  &--logo {
    a {
      @include text-5xl;
      color: $color-h-5;
      text-decoration: none;
    }
  }

  &__links {
    a {
      margin: 0 10px;
      color: $font-color-1;
      text-decoration: none;
    }

    &.active {
      display: flex;
    }

    @media (max-width: 1000px) {
      display: none;
      flex-direction: column;
      width: 100%;
      position: absolute;
      top: 60px;
      left: 0;
      background-color: $bg-color;
      box-shadow: 0 2px 5px rgba(84, 194, 225, 0.5);
      border-radius: 5px;
      transition: transform 0.3s ease, opacity 0.3s ease;
      border-top: none;
      a:hover {
        background-color: rgb(25, 103, 211);
      }
    }
  }

  &--toggle {
    @include text-xl;
    display: none;
    color: $font-color-1;
    background: none;
    border: none;
    text-decoration: none;

    @media (max-width: 1000px) {
      display: block;
    }
  }
}
