@import 'vars';


.statistics {
  margin-top: 30px;
  margin-bottom: 100px;

  @at-root #{&}--title {
    margin-bottom: 30px;
  }

  @media only screen and (min-width: 600px) {
  }

  @media only screen and (min-width: 1024px) {
  }
}

.statistic {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  text-align: justify;

  @at-root #{&}--title {
    margin-bottom: 30px;
  }

  @at-root #{&}--img {
    align-self: center;
    width: 80%;
  }

  @media only screen and (min-width: 600px) {
  }

  @media only screen and (min-width: 1024px) {
  }
}
